In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/manishanker/statistics_ML_jan_2020/master/bank.csv',sep=';')

In [3]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19.0,oct,79.0,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11.0,may,220.0,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16.0,apr,185.0,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3.0,jun,199.0,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5.0,may,226.0,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30.0,jul,329.0,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9.0,may,153.0,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19.0,aug,151.0,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6.0,feb,129.0,4,211,3,other,no
4520,44,NaN,NaN,tertiary,no,1136,yes,yes,NaN,3.0,apr,NaN,2,249,7,other,no

In [4]:
df.describe()

,age,day,duration,campaign,pdays,previous
count,4521.000000,4520.000000,4519.000000,4521.000000,4521.000000,4521.000000
mean,41.170095,15.915487,263.984952,2.793630,39.766645,0.542579
std,10.576211,8.248569,259.896301,3.109807,100.121124,1.693562
min,19.000000,1.000000,4.000000,1.000000,-1.000000,0.000000
25%,33.000000,9.000000,104.000000,1.000000,-1.000000,0.000000
50%,39.000000,16.000000,185.000000,2.000000,-1.000000,0.000000
75%,49.000000,21.000000,329.000000,3.000000,-1.000000,0.000000
max,87.000000,31.000000,3025.000000,50.000000,871.000000,25.000000

In [5]:
df.shape

(4521, 17)

In [6]:
X = df.drop(['y'], axis=1)

In [7]:
y = df['y']

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state =42)

In [10]:
X_train

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
1412,57,admin.,divorced,unknown,no,4012,no,no,cellular,20.0,nov,915.0,1,-1,0,unknown
2117,40,housemaid,married,primary,no,1832,no,no,cellular,6.0,feb,213.0,4,-1,0,unknown
3443,40,blue-collar,married,secondary,no,6767,yes,no,cellular,20.0,nov,97.0,2,-1,0,unknown
1488,46,management,married,tertiary,no,1008,no,no,cellular,29.0,aug,24.0,13,-1,0,unknown
2620,28,technician,single,secondary,no,1453,yes,no,cellular,12.0,may,246.0,1,343,1,other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4426,41,admin.,married,tertiary,no,1536,no,no,cellular,4.0,may,54.0,2,-1,0,unknown
466,34,self-employed,married,secondary,no,-370,yes,no,unknown,21.0,may,748.0,1,-1,0,unknown
3092,46,management,married,tertiary,no,523,yes,no,cellular,6.0,may,105.0,4,366,2,failure
3772,47,management,single,tertiary,no,440,no,no,cellular,21.0,aug,71.0,4,-1,0,unknown
860,58,blue-collar,married,primary,no,309,no,no,cellular,19.0,aug,156.0,2,-1,0,unknown

In [11]:
x_test

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
2398,51,entrepreneur,married,secondary,yes,-2082,no,yes,cellular,28.0,jul,123.0,6,-1,0,unknown
800,50,management,married,tertiary,no,2881,no,no,cellular,5.0,aug,510.0,2,2,5,other
2288,50,technician,married,secondary,no,1412,no,no,cellular,6.0,aug,131.0,3,-1,0,unknown
2344,37,management,married,tertiary,no,0,yes,no,unknown,3.0,jun,247.0,13,-1,0,unknown
3615,31,admin.,single,secondary,no,757,no,no,cellular,3.0,feb,343.0,2,-1,0,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,38,admin.,divorced,tertiary,no,86,yes,no,unknown,6.0,may,218.0,1,-1,0,unknown
3218,49,entrepreneur,married,secondary,no,1916,no,yes,telephone,14.0,jul,281.0,3,-1,0,unknown
2767,47,self-employed,married,secondary,no,1121,no,no,unknown,20.0,jun,454.0,6,-1,0,unknown
498,38,technician,single,secondary,no,258,no,yes,unknown,20.0,jun,587.0,2,-1,0,unknown
3765,55,technician,divorced,secondary,no,3450,no,no,cellular,10.0,feb,169.0,1,183,1,failure

In [12]:
from sklearn.preprocessing import StandardScaler

In [13]:
scaler = StandardScaler()

In [14]:
scaler.fit_transform(df[['age']])

array([[-1.05626965],
       [-0.77258281],
       [-0.58345826],
       ...,
       [ 1.49691189],
       [-1.24539421],
       [ 0.26760226]])

In [15]:
mn = df['age'].mean()
sd = df['age'].std()
n = 1
ll = mn-(n)*sd
ul = mn+(n)*sd
df1 = df[(df['age']>ll) & (df['age']<ul)]
print('Total values of age: ',df1['age'].count())
print('Percentage of values in {} std {}'.format(n,(df1['age'].count()/df.shape[0])*100))

Total values of age:  3053
Percentage of values in 1 std 67.52930767529308

In [17]:
import numpy as np
nums = np.array([1,2,3,4,5])
print("50th percentile (median):")
p = np.percentile(nums, 50,1)
print(p)
print("40th percentile:")
p = np.percentile(nums, 40,1)
print(p)
print("90th percentile:")
p = np.percentile(nums, 90,1)
print(p)

50th percentile (median):

AxisError: axis 1 is out of bounds for array of dimension 1

In [ ]:
df2 = pd.read_csv('https://raw.githubusercontent.com/mahat/TtestExample/master/dataset/MPG_DataSet.csv',sep=';')
df2

In [ ]:
df2.shape

In [ ]:
df2.describe()

In [ ]:
df2.info()

In [ ]:
jap = df2['Japan']

In [ ]:
type(jap)

In [ ]:
import numpy as np

In [ ]:
usmgp = df2['USA'].values

In [ ]:
jap = df2['Japan']
jap_new = jap[jap != -999].values

In [ ]:
jap_new.mean()

In [ ]:
usmgp.mean()

In [ ]:
np.var(jap_new)

In [ ]:
np.var(usmgp)

In [ ]:
import scipy.stats

In [18]:
significance = 0.05
t, p = stats.ttest_ind(usmgp, jap_new, equal_var=False)
print(t,p)

NameError: name 'stats' is not defined